<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Views/Shared/EmpDetails.css" rel="stylesheet" />
    @RenderSection("head", required: true)
</head>
<body>
    @RenderBody()
</body>
</html>
